site_name: maritime_domain_awareness
site_author: Group 1: Victor Skaarup Justesen, Niklas August Kjølbro, Simon Rostad Olsen, Anders Greve Sørensen
docs_dir: source

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true

nav:
  - Home: index.md
